5. SLICING & FILTERING

there are 2 type of series indexing 

1.Position based (0,1,2...)

2.label-based ("Ali","Neha"...)

In [3]:
import pandas as pd
import numpy as np

In [4]:
# 1. Normal slicing (position based)

s = pd.Series([1,2,3,4,5])
print(s[0]) #first element

1

In [5]:
s[1:4] # 1 to 4th element

1    2
2    3
3    4
dtype: int64

In [6]:
s[:3] #first three elements

0    1
1    2
2    3
dtype: int64

In [7]:
s[::2] #step by 2. (1,3,5)

0    1
2    3
4    5
dtype: int64

In [8]:
# 2. Label based slicing
s1 = pd.Series([60,70,80,90],index=["Arman","Abdullah","Sadiya","Farhan"])
s1["Farhan"] # single value

np.int64(90)

In [9]:
s1[:"Sadiya"] # first to sadia

Arman       60
Abdullah    70
Sadiya      80
dtype: int64

In [10]:
s1["Arman": "Abdullah"] # arman to abdullah (include abdullah)

Arman       60
Abdullah    70
dtype: int64

In [11]:
# 3. Multiple selection
s1[["Arman","Sadiya"]]

Arman     60
Sadiya    80
dtype: int64

In [12]:
# 4. Filtering with condition (MOST IMPORTANT)
s1[s1>70]

Sadiya    80
Farhan    90
dtype: int64

In [13]:
s1[(s1>50)& (s1<90)]

Arman       60
Abdullah    70
Sadiya      80
dtype: int64

In [14]:
s1[s1==70]

Abdullah    70
dtype: int64

In [15]:
# 5. Using logical operators
(s1 > 80) | (s1 == 70)

Arman       False
Abdullah     True
Sadiya      False
Farhan       True
dtype: bool

In [16]:
(s1 >= 80) & (s1 <= 90)

Arman       False
Abdullah    False
Sadiya       True
Farhan       True
dtype: bool

In [17]:
# 6. Filtering with isin()
s1[s1.isin([70,80])]

Abdullah    70
Sadiya      80
dtype: int64

In [18]:
# 7. Filtering with notnull()
s1[s1.isnull()]

Series([], dtype: int64)

In [19]:
mask = s1 > 70
print(mask)
print(s1[mask])

Arman       False
Abdullah    False
Sadiya       True
Farhan       True
dtype: bool
Sadiya    80
Farhan    90
dtype: int64

In [20]:
# 9. Change values using filtering

s1[s1<70] = 90

In [21]:
# Mini Practice â€“ Pandas Series
# Create a Series with 6 values.

salary = pd.Series([100000,45000,60000,55000,46000,34000],index=["abdullah","drishti","arushi","cristina","mehak","kamakshi"])
print(salary)

abdullah    100000
drishti      45000
arushi       60000
cristina     55000
mehak        46000
kamakshi     34000
dtype: int64

In [31]:
# Print the values that are greater than the mean of the Series.

print(salary[salary > salary.mean()])

abdullah    100000
dtype: int64

In [ ]:
# Replace all salary less than 50000 with 55000
salary[salary<50000] = 55000 
print(salary)

abdullah    100000
drishti      55000
arushi       60000
cristina     55000
mehak        55000
kamakshi     55000
dtype: int64

In [28]:
# Print only two selected (named) indexes from the Series.
salary[["abdullah","drishti"]]

abdullah    100000
drishti      55000
dtype: int64

In [30]:
# Print alternate values from the Series.
salary[::2]

abdullah    100000
arushi       60000
mehak        55000
dtype: int64